{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": [
      "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/semi": "off",
    "comma-dangle": "off",
    "lines-between-class-members": "off"
  }
}
